@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --blue: #020f55;
    --green: #009f23;
    --lightgreen: #b1d423;
    --white: #edf2e5;
    --purple: #c6248f;
    --yellow: #f6f96f;

    --josefine: "Josefin Sans", sans-serif;
    --madimi: "Madimi One", sans-serif;
    
    --text-shadow: 4px 3px 6px rgba(0, 0, 0, 1);
    --box-shadow:  2px 2px 13px 2px rgba(9, 0, 0, 0.85);
    --app-shadow: 11px 11px 39px #949494, -11px -11px 39px #fff;
    --button-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #fff;
    --image-shadow: 11px 11px 22px #a4a4a4, -11px -11px 22px #fff;
    --track-shadow: 7px 7px 14px #b8b8b8, -5px -5px 14px #fff;
}
*{ 
    margin: 0;
    padding: 0;
}
img, iframe, video {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px; /* o qualsiasi larghezza massima desiderata */
  margin: 0 auto; /* Centra il contenitore */
}
body{
    background: linear-gradient(90deg, rgba(246,249,111,0.5)0%, rgba(2,15,85,1) 40%, rgba(198,36,143,1) 100%);
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
    overflow-x: hidden;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    position: fixed;
    background: linear-gradient(90deg, rgba(246,249,111,0.5)0%, rgba(2,15,85,1) 40%, rgba(198,36,143,1) 100%);
    top:0;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px;
    color: var(--white);
    font-family: var(--madimi);
    opacity: 0.8;
    z-index:1000;
    
}
.logo h1{
    font-size: 40px;
    text-shadow: var(--text-shadow);
}


.bars-menu-btn{
    display: none;
}
.menu-list{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 5px 30px;

}
.menu-list li a{
    color: var(--white);
    padding: 10px;
    cursor: pointer;
    position: relative;
    font-size: 18px;
}
.menu-list li a::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    background: var(--yellow);
    left: 0;
    bottom: 5px;
    transition: 0.5s;
}
.menu-list li a:hover::after{
    width: 100%;
}





#banner{
    display: block;
    height: 94vh;
    background: linear-gradient(90deg, rgba(246,249,111,0.5) 0%, rgba(2, 14, 85, 0.526) 40%, rgba(198, 36, 144, 0.534) 100%),
    url(./images1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    font-family: var(--josefine);
    margin: 0;
    padding: 20px;

}
.title{
    justify-content: center;
    margin: 20px;
    position: absolute;
    top: 20%;
    left: 30%;
    height: 200px;
    align-items: center;
}
.title h1{
    opacity: .5;
    text-align: center;
    align-items: center;
    width: 800px;
    height: 200px;
    font-size: 205px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px 5px;
    box-shadow: 5px 5px 15px 15px rgba(2,15,85,1);
    text-shadow: 2px 2px 0px #000, 5px 4px 0px rgba(0,0,0,0.15);
    color: #f466f2;
    background-image: -webkit-linear-gradient(0deg, #f6f96f 19%,  #f466f2 49%);
    background-clip: text;
    -webkit-background-clip: text;
    --text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

}
.title p{
    width: 80%;
    margin: 10px;
    padding: 20px;
    text-shadow: #000 1px 1px 0;
    line-height: 20px;
    font-size: 20px;
    text-align: justify;
    font-weight: 600;
    background: linear-gradient(90deg,rgba(2, 14, 85, 0.341) 0%, rgba(198, 36, 144, 0.301) 100%);

}





#discografy{
    padding: 40px 30px 10px 30px;
    background: linear-gradient(90deg, rgba(246,249,111,0.5)0%, rgba(2,15,85,1) 40%, rgba(198,36,143,1) 100%);
    text-align: center;
    color: var(--white);
    position: relative;
    height: 100vh;
    max-width: 100%;
    
}
.main-title{
    font-family: var(--madimi);
    color: gray;
    font-size: 35px;
    position: relative;
    top: 30px;
}

.subtitle{
    font-family: var(--madimi);
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}
.tracks form{
    font-family: var(--josefine);
    margin: 0 10px;
    padding: 10px;
    
}
/*
 #search{
    width: 400px;
    color: var(--blue);
    background: linear-gradient(90deg, rgba(246,249,111,0.5)0%, rgba(2,15,85,1) 40%, rgba(198,36,143,1) 100%);
    border: none;
    padding: 15px;
    border-radius: 20px;
    box-shadow: inset 3px 2px 20px 0px #000000;
    outline: none;
    font-size: 18px;
    text-shadow: 1px 0px 1px #000;
}
#root{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    border: 5px solid red;
}

 #submit{
    cursor: pointer;
    margin: 5px;
    padding: 5px 8px;
    border-radius: 30px;
    box-shadow:  14px 14px 28px #630065,
                 -14px -14px 28px #011d64;
    border: none;
    background-color:transparent;
    color: var(--white);
}*/
.main-musicplayer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    width: 100%;
}
.box-player{
    width: 30%;
    margin: 0 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    display: flex;
    margin-top: -150px;
}

.wrapper{
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 315px;
    height: 550px;
    border-radius: 15px;
    border: 1px solid transparent;
    padding: 25px 30px;
    margin: 20px;
    background: linear-gradient(186deg, rgba(198,36,143,0.5214460784313726) 53%, rgba(246,249,111,0.5) 99%)
    ,url(./mplayerbg.jpeg) no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: inset -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
}
  .wrapper i{
    cursor: pointer;
  }
  .m-top-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;

  }
  .progress-area .song-timer, 
  .controls, .music-list ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 
  .m-top-bar span{
    font-size: 18px;
    margin-left: -3px;
    color: var(--white);
    font-family: var(--josefine);
  }
  .music-bar{
    padding: 30px;
    box-shadow:  inset -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
    border: 1px solid transparent;
    margin: 5px;
    border-radius: 15px;
    
}
  .img-area{
    margin: 25px;
    height: 200px;
    width: 200px;
    border: 1px solid #141110;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px #201817;
    -webkit-box-shadow:0px 6px 5px #3a3838;
    box-shadow: 0px 6px 5px #1d1c1c;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius: 190px;
    overflow: hidden;
    margin-top: 25px;
    position: relative;
    opacity: 0.7;
  }
  .img-area::before{
    content: '';
    background: linear-gradient(rgba(232, 125, 246, 0.913) 0%,  rgba(48, 8, 1, 0.942) 100%);
    border-radius: 50%;
    border: 15px solid #060606;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
  }
  .img-area img{
    height: 100%;
    width: 100%;
    object-fit: co;
    border-radius: 50%;
  }
  .song-details{
    text-align: center;
    margin: 10px 0;
  }
  .song-details p{
    color: var(--lightblack);
  }
  .song-details .name{
    font-size: 21px;
    font-family: var(--madimi);
    text-shadow: var(--text-shadow);
  }
  .song-details .artist{
    opacity: 0.7;
    font-size: 18px;
    line-height: 35px;
    font-family: var(--josefine);
    text-shadow: var(--text-shadow);
  }
  .progress-area{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: var(--white);
    cursor: pointer;
  }
  .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background:  linear-gradient(rgba(232, 125, 246, 0.554) 0%,  rgba(48, 8, 1, 0.677) 100%);
  }
  .progress-bar::before{
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: inherit;
    z-index: 2;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
  }
  .progress-area .song-timer{
    margin-top: 2px;
  }
  .song-timer span{
    font-size: 13px;
    color: var(--white);
    text-shadow: var(--text-shadow);
  }
  .controls{
    margin:40px 0 5px 0;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    box-shadow:  inset -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(rgba(232, 125, 246, 0.554) 0%,  rgba(48, 8, 1, 0.677) 100%);
  }
  /*
  .controls .c1{
    height: 24px;
    width: 24px;
    user-select: none;
    background: #949494d1;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 50%;
    font-size: 18px;
  }
  .controls .c1:hover{
    background-color: var(--white);
  }
  */
  .controls #prev{
    margin-top: -10px;
  }
  .controls #next{
    margin-top: -10px;
  }
  .c2{
    height: 43px;
    width: 43px;
    background: #9494947e;
    box-shadow: -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.c2:hover, .play-pause:hover{
    background: var(--white);
}
.c2::before{
    content: '';
    position: absolute;
    height: 38px;
    width: 38px;
    border-radius: inherit;
    background: linear-gradient(rgb(232, 125, 246) 0%,  rgba(48, 8, 1, 0.945) 100%);
}
.c2 i{
    height: 33px;
    width: 33px;
    line-height: 43px;
    text-align: center;
    border-radius: inherit;
    background-clip: text;
    background: inherit;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-pause{
    height: 61px;
    width: 61px;
    margin: 10px;
    background: #9494947e;
    box-shadow: -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.play-pause::before{
    content: '';
    position: absolute;
    height: 53px;
    width: 53px;
    border-radius: inherit;
    background: linear-gradient(rgb(232, 125, 246) 0%,  rgba(48, 8, 1, 0.945) 100%);
  }
.play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: inherit;
    background-clip: text;
    background: inherit;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.tracks{
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}
.music-list{
    background: var(--white);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    border: 1px solid transparent;
    padding: 25px 30px;
    background: linear-gradient(186deg, rgba(198,36,143,0.5214460784313726) 53%, rgba(246,249,111,0.5) 99%)
    ,url(./tracksbg.jpeg);
    background-position: center;
    background-size: cover;
    box-shadow: inset -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
    height: 500px;
    box-sizing: border-box;
}
#ul-tag{
    overflow: scroll;
    height: 400px;
}
.music-list li{
    display: flex;
    align-items: center;
    justify-content: center;
}

  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--madimi);
    padding: 10px;
  }
  .row{
    display: block;
    align-items: center;
    text-align: left;
    font-size: 23px;
    color: var(--white);
    text-shadow: var(--text-shadow);
    width: 250px;
  }
 .row i{
    cursor: default;
  }
  #ul-tag{
    position: relative;
  }
  .download-btn{
    width: 100px;
  }
 .download-btn a{
    margin-right: 13px;
    color: gray;
    font-size: 13px;
    position: absolute;
    right: 0;
    margin-top: -30px;
 }
 .share-btn{
    color: gray;
 }
 .share-btn:hover{
    color: var(--yellow);
 }
 .download-btn a:hover{
    color: var(--white);
 }
 
  .music-list ul{
    margin: 10px 0;
    overflow: auto;
  }
  .music-list ul::-webkit-scrollbar{
    width: 0px;
  }
  .music-list ul li{
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px; 
    margin-bottom: 5px;
    color: var(--white); 
    box-shadow: var(--box-shadow);
   
  }
  .music-list ul li:last-child{
    border-bottom: 0px;
  }
  .music-list ul li .row span{
    font-size: 17px;
    font-family: var(--madimi);
  }
  .music-list ul li .row p{
    opacity: 0.9;
    font-family: var(--madimi);
  }
  .music-list ul li img{
    width: 95px;
    height: 90px;
    box-shadow: var(--box-shadow);
    border-radius: 3px;
    margin-top: 15px;
  }
  ul li .audio-duration{
    font-size: 16px;
    font-family: var(--madimi);
    width: 150px;
  }
  ul li.playing{
    pointer-events: none;
    color: var(--yellow);
    text-shadow: var(--text-shadow);
    font-family: var(--madimi);
  }
  ul li.playing .download-btn{
    cursor: pointer;
    pointer-events: visible;
  }
  .rotate{
    animation: rotation 8s infinite linear;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

@keyframes animate{
    50%{
        height: 20%;
        background: #52170b;
    }
    100%{
        height: 100%;
    }
}






#gallery{
    padding: 40px 30px 10px 30px;
    background: linear-gradient(90deg, rgba(246,249,111,0.5)0%, rgba(2,15,85,1) 40%, rgba(198,36,143,1) 100%);
    text-align: center;
    color: var(--white);
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.main-gallery{
    box-shadow: -3px -3px 10px rgba(10, 24, 222, 0.503), 3px 3px 5px rgba(48, 8, 1, 0.945);
    height: 55vh;
    padding: 80px;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    position: relative;
    background: linear-gradient(180deg, rgba(198,36,143,0.5214460784313726) 53%, rgba(246,249,111,0.5) 99%);
    box-shadow: inset -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
 
}
.cover-gallery{
    background: url(/gallery-bg.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 450px;
    box-shadow: -3px -3px 10px rgba(47, 3, 3, 0.503), 3px 3px 5px rgba(18, 3, 0, 0.945);
    position: absolute;
    left: 10%;
}

.gallery{
    box-shadow: -3px -3px 10px rgba(10, 24, 222, 0.503), 3px 3px 5px rgba(48, 8, 1, 0.945);
    width: 80%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 5%;
    overflow: scroll;
}
.gallery-image{
    margin: 10px;
    overflow: hidden;
    opacity: 0.8;

}
.image{
    height: 180px;
    width: 180px;
    overflow: hidden;
    transition: 1s;
}
.gallery-image:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    width: 80%;
    max-width: 1000px;
    height: 70vh;
    max-height: 600px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.906);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.popup.active{
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
}
.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn{
   opacity: 1;
   transition: opacity .5s;
   transition-delay: 1s;
}
.top-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}
.image-name{
    opacity: 0;
}
.close-btn{
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #4f0e39;
}
.arrow-btn{
    opacity: 0;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
}
.left-arrow{
    left: 10px;
}
.right-arrow{
    right: 10px;
}

.arrow-btn:hover{
    background: rgba(0,0,0,.5);
}
.index{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: 100;
    color: gray;
    opacity: 0;

}
.large-image{
    margin-top: 5%;
    width: 80%;
    height: 80%;
    object-fit: contain;
    opacity: 0;
}


#upcoming{
    padding: 40px 30px 10px 30px;
    background: linear-gradient(90deg, rgba(246,249,111,0.5)0%, rgba(2,15,85,1) 40%, rgba(198,36,143,1) 100%);
    text-align: center;
    color: var(--white);
}
.main-concert{
    display: flex;
    background:linear-gradient(45deg,  #edf2e5b8 0%,  #edf2e5b8 100%),url(./upcoming-bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    box-shadow: inset 3px 3px 10px -2px #000000;
    color: var(--blue);
}
.concert{
    height: 300px;
    width: 100%;
    margin: 30px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    position: relative;
}
.concert-img{
  width: 90%;
}
.concert-img img{
    width: 280px;
    height: 300px;
    box-shadow: 3px 3px 10px -2px #000000;
    z-index: 0;position: absolute;
    left: 10px;

}

.concert-details{
  z-index: 666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.concert h2{
    color: var(--blue);
    font-family: var(--josefine);
    margin: 10px;
}
.concert p{
    color: var(--blue);
    font-family: var(--madimi);
}
.concert-btn{
    display: flex;
    justify-content: center;
}
.concert-btn button{
    outline: none;
    border: none;
    width: 110px;
    margin: 5px 15px;
    padding: 5px;
    box-shadow:  var(--button-shadow);
    border-radius: 10px;
    color: var(--purple);
    background-color: var(--lightgreen);
    font-family: var(--madimi);
    font-size: 18px;

}
.concert-btn button:hover{
    background-color: var(--green);
    cursor: pointer;
}

.concert-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.concert-desc div{
    display: flex;
}
.concert-desc h2{
    font-family: var(--madimi);
    text-align: start;
}
.concert-desc p{
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 70%;
}
.adresse{
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: var(--image-shadow);
}



/*
#videos{
    padding: 40px 30px 10px 30px;
    background: linear-gradient(90deg, rgba(246,249,111,0.5)0%, rgba(2,15,85,1) 40%, rgba(198,36,143,1) 100%);
    text-align: center;
    color: var(--white);
    height: 100vh;
}

.videos-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
    height: 80vh;
    
}

.main-video{
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(198,36,143,0.5214460784313726) 53%, rgba(246,249,111,0.6) 99%);
    padding: 20px;
    height: 430px;
    box-shadow: -3px -3px 10px rgba(10, 24, 222, 0.503), 3px 3px 5px rgba(48, 8, 1, 0.945);
    box-shadow: inset -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
}
.main-video video{
    height: 410px;
    width: 80%;
    border-radius: 5px;
}
.video-title{
    color: var(--white);
    font-size: 23px;
    padding: 5px 0 5px 0;
}
.vid-content{
    box-shadow: inset 26px -26px 52px #4f0e39,
    inset -26px 26px 52px #ff3ae5;
    overflow-y: scroll;
    height: 530px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;

}
.video-list{
    overflow: scroll;
    height: 430px;
    padding: 20px;
    background: transparent;
    box-shadow: -3px -3px 15px rgba(250, 110, 247, 0.418), 3px 3px 5px rgba(48, 8, 1, 0.945);
    box-shadow: inset -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
    border-radius: 5px;
    align-items: center;
}
.vid video{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    width: 150px;
    border-radius: 5px;
    
}
video:focus{
    outline: none;
}
.vid{
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: -3px -3px 15px rgba(250, 110, 247, 0.418), 3px 3px 5px rgba(48, 8, 1, 0.945);
    box-shadow: inset -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
    background: linear-gradient(180deg, rgba(198,36,143,0.5214460784313726) 53%, rgba(246,249,111,.7) 99%);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.vid:hover{
    background: linear-gradient(180deg, rgba(246,249,111,.7) 53%, rgba(198,36,143,0.5214460784313726) 99%);
}
.vid.active{
    background:  rgba(246,249,111,.5);
}
.vid.active .video-title{
    color: var(--white);
}

.vid .video-title{
    color: #333;
    font-size: 17px;
}

*/





#services{
    padding: 40px 30px 10px 30px;
    background: linear-gradient(90deg, rgba(246,249,111,0.5)0%, rgba(2,15,85,1) 40%, rgba(198,36,143,1) 100%);
    text-align: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-services{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    margin: 50px;
    height: 450px;
    width: 100%;
    box-shadow: -3px -3px 15px rgba(250, 110, 247, 0.418), 3px 3px 5px rgba(48, 8, 1, 0.945);
    box-shadow: inset -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
    border-radius: 10px;
    box-sizing: border-box;
    
}
.main-services .main-title{
    color: var(--white);
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 100;
    margin: 5px;
    padding: 10px;
    position: absolute;
    top: 35px;
    right: 20px;
    border: transparent;
    border-radius: 20px 5px 20px 5px;
    box-shadow:  5px 5px 15px#3b3c01 ,
              -5px -5px 15px #e9f0aa;
    text-shadow: 3px 3px 4px rgb(44, 44, 41);
    cursor: default;
}
.main-s .subtitle{
   color: var(--white);
   opacity: 0.5;
   font-size: 50px;
   position: absolute;
   top: 65px;
   right: 20px;
}
.services-content{
    display: flex;
    padding: 10px 20px;
    margin: 10px;
    width: 80%;
    
}
.contact-form{
    width: 50%;
    height: 410px;
    background-color: transparent;
    border-radius: 10px;
    border-radius: 10px 0 0 10px;
}
.form{
    height: 95%;
    color: var(--clear);
    margin: 10px;
    border:transparent;
    text-shadow: 3px 3px 4px rgb(9, 9, 9);
    box-shadow:  5px 5px 19px #2d2561,
             -5px -5px 19px #0d0915;
             box-shadow: inset -2px -2px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(198,36,143,0.5214460784313726) 53%, rgba(246,249,111,.5) 99%);
}
form{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    
}
form h2{
    font-size: 20px;
    text-shadow: 3px 3px 4px rgb(9, 9, 9);
}
.form-label{
    background: transparent;
    width: 100%;
    border: none;
    padding: 10px;
    box-shadow: inset 5px 5px 19px #2d2561,
              inset -5px -5px 19px #0d0915;
    border-radius: 10px;
    color: var(--clear);
    background-color:#020e5595;
    outline: none;
}
.form-label::placeholder{
    color: var(--white);
}
.submit{
    height: 35px;
    width: 100px;
    border: none;
    background:rgba(250, 110, 247, 0.418);
    box-shadow: -3px -3px 15px rgba(250, 110, 247, 0.418), 3px 3px 5px rgba(48, 8, 1, 0.945);
    box-shadow: inset -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
    color: var(--clear);
    border-radius: 10px;
    font-size: 20px;
    font-family: var(--arizonia);
    text-shadow: var(--text-shadow);
    padding: 2px;
}
.submit:hover{
    transform: scale(1.1);
    color: var(--yellow);
    background-color: var(--lightviolet);
    cursor: pointer;
}
textarea{
    width: 100%;
    height: 75px;
    background-color:#020e5595;
    box-shadow: inset 5px 5px 19px #2d2561,
              inset -5px -5px 19px #0d0915;
    border: none;
    padding: 15px;
    font-size: 12px ;
    color: var(--clear);
    border-radius: 10px;
    resize: none;

}
textarea .error-txt{
    margin-top: -10px;
}
.services{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 310px);
    grid-template-rows: repeat(2, 200px);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    border-radius: 0px 10px 10px 0px;
    background: var(--lightviolet);
    color: var(--clear);
}
.service-box{
    margin: 10px;
    border:transparent;
    border-radius: 10px;
    box-shadow: inset -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
    background: linear-gradient(180deg, rgba(198,36,143,0.5214460784313726) 53%, rgba(246,249,111,.5) 99%);
}.service-box:hover{
    transform: scale(1.1);
}

.service-box h2{
   padding: 5px;
   font-size: 20px;
   text-shadow: var(--text-shadow);
}
.service-box p{
    padding: 15px;
    font-size: 16px;
    text-align: justify;
    text-shadow: var(--text-shadow);
}
input{
    color: var(--clear);
}
input:focus, textarea:focus{
    outline: 3px solid var(--dark);
}
input:active{
    background-color: var(--lightviolet);
}
.error-txt{
    font-size: 11.5px;
    color: #d93025;
    text-align: left;
    margin: -5px -15px 0;
    display: none;
}

.error .error-txt {
    display: block;
}





#bio{
    padding: 40px 30px 10px 30px;
    background: linear-gradient(90deg, rgba(246,249,111,0.5)0%, rgba(2,15,85,1) 40%, rgba(198,36,143,1) 100%);
    text-align: center;
    color: var(--white);  
}
.main-book{
    background: url(./bio-left-img.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 70vh;
    margin:  0 80px;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
}
.book-command{
    display: none;
}
.book-img{
    width: 350px;
    height: 500px;
    border-radius: 5px;
}
.book{
    display: flex;
}
#cover{
    width: 350px;
    height: 500px;
    box-shadow: 8px 4px 34px 5px #000000;
    text-align: center;
    align-items: center;
    font-family: var(--josefine);
    border-radius: 5px;
}
#cover h2{
    font-size: 45px;
    width: 345px;
    margin: 10px;
    font-weight: 200;
}
.flip-book{
    width: 350px;
    height: 500px;
    position: relative;
    perspective: 1500px;
    box-shadow: 8px 4px 34px 5px #000000;
}
.flip{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .5s;
    color: var(--blue);
    box-shadow: 8px 4px 34px 5px #000000;
}
.front h2{
    margin: 20px;
    font-family: var(--josefine);
    font-size: 25px;
}
.bio-p{
    font-size: 18px;
    line-height: 28px;
    text-align: justify;

}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background:radial-gradient(circle, rgba(255,255,255,0.5787037037037037) 2%, rgba(164,164,164,1) 100%), url('./bio-page.jpeg');
    box-sizing: border-box;
    padding: 0 13px;
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5) 0 2px 5px rgba(0, 0, 0, 0.5);
}
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: 9;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: var(--white);
}
.end-page{
    color: var(--blue);
    border-radius: 5px;
}
.next-btn{
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: var(--blue);
    font-family: var(--josefine);
}
.back-btn{
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: var(--white);
    font-family: var(--josefine);
}
.end-btn{
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: var(--blue);
    outline: none;
    border: none;
    background: transparent;
    font-family: var(--josefine);
    box-shadow: var(--track-shadow);
    padding: 5px;
    border-radius: 3px;
    transition: 0.5s;
}
.end-btn:hover{
    background: #949494;
}
#p1{
    z-index: 3;
}
#p2{
    z-index: 2;
}
#p3{
    z-index: 1;
}
#c1:checked ~ .flip-book #p1{
    transform: rotateY(-180deg);
    z-index: 1;
}
#c2:checked ~ .flip-book #p2{
    transform: rotateY(-180deg);
    z-index: 2;
}
#c3:checked ~ .flip-book #p3{
    transform: rotateY(-180deg);
    z-index: 3;
}
.main-about{
    display: none;
}






footer{
    margin: 0;
    background: linear-gradient(90deg, rgba(247, 249, 111, 0.542)0%, rgba(2, 14, 85, 0.481) 40%, rgba(198, 36, 144, 0.524) 100%), url(./footer-bg.jpg);
    text-align: center;
    background-size: cover;
    background-position: center;
    color: var(--white); 
    font-family: var(--josefine);
    padding: 45px 30px 0px 30px;
    height: 90vh;
    width: 100%;
    position: relative;
}
.main-footer{
    background: transparent;
    position: absolute;
    height: 60%;
    bottom: 0;
    width: 90%;
}
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    border: 1px solid var(--white);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }

  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #0F0844;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }



 
 




  
@media  only screen and (max-width:1200px){
   
    nav{
        position: relative;
        width: 100%;
        background: transparent;
   }
  
   #menu-toggle{
    position: fixed;
    cursor: pointer;
    right:  5%;
    top: 7%;
    font-size: 30px;
    width: 50px;
    z-index: 1000;
   }
    .menu-list{
        position: fixed;
        top: 0;
        right: -400px;
        height: 100vh;
        width: 350px;
        z-index: 999;
        background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
        box-shadow: -10px 0 10px rgba(0,0,0,0.1);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: 0.5s ease;
    }
    .menu-list li{
        width: 100%;
        margin: 30px;
    }
    .menu-list li a{
        color: var(--white);
        font-size: 22px;
        text-shadow: #000 1px 1px 0;
        position: relative;
    }
    .menu-list li a::after{
        content: '';
        height: 3px;
        width: 0;
        position: absolute;
        background: var(--yellow);
        left: 0;
        bottom: 0px;
        transition: 0.5s;
    }
    .menu-list li a:hover::after{
        width: 100%;
    }
    #banner{
        position: relative;
    }
    .title{
        width: 300px;
        position: absolute;
        left: 0;
    }
    .title h1{
        font-size: 145px;
    }
    .title p{
        width: 90vw;
    }
    .main-musicplayer{
        flex-direction: column-reverse;
        position: relative;
    }
    .box-player{
        width: 70%;
    }
    .tracks{
        height: 350px;
        width: 95%;
        margin-left: -80px;
    }
    .music-list{
        height: 100%;
    }
    #ul-tag{
        height: 80%;
        
    }
    #ul-tag li img{
      margin-right: 5px;
    }
    .wrapper{
        background: linear-gradient(186deg, rgba(198,36,143,0.5214460784313726) 53%, rgba(246,249,111,0.5) 99%)
        ,url(./tracksbg.jpeg) no-repeat;
        background-position: top;
        background-size: cover;
        height:105px;
        margin-left: -50px;
        width: 70%;
        top: 0px;
        left: 45%;
        transform: translateX(-50%);
        position: absolute;
    }
    .m-top-bar{display: none;}
    .music-bar{
        display: flex;
    }
    .img-area{
       width: 90px;
       height: 90px;
       position: absolute;
       border: none;
       top: 20px;
       left: 0;
      }
      .img-area img{
        width: 100%;
        height: 100%;
      }
      .img-area::before{
       display: none;
      }
      .song-details{
        position: absolute;
        left: 2px;
      }
      .progress-area{
        position: absolute;
        top: 30%;
        left: 30%;
        width: 60%;
      }
      .controls{
        position: absolute;
        left: 50%;
        height: 30px;
        
      }/*
      .videos-container{
        display: flex;
        align-items: center;
      }
      .main-video{
        height: 500px;

      }
      .video-list{
        width: 40%;
        height: 500px;
      }
      .vid video{
        width: 80px;
      }*/
      #services{
        height: 100vh;
    }
    .services{
        width: 60%;
        display: flex;
        max-height: 500px;
        box-sizing: border-box;
    }
    .service-box{
        height: 80px;
        width: 350px;
    
    }
    .service-box p{
        display: none;
    }
    .service-box:hover{
        height: 160px;
    }
    .service-box:hover p{
        display: block;
    }
      
}
@media only screen and (max-width: 1000px){
  /*
    .videos-container{
        display: flex;
        align-items: center;
      }
      .main-video{
        height: 475px;
        width: 60% ;

      }
      .video-list{
        width: 30%;
        height: 475px;
      }
      .vid video{
        width: 70px;
      }*/
      .main-concert{
        flex-direction: column;
      }
      .concert{
        flex-direction: row;
        width: 70%;
      }
      .concert-details{
       padding: 50px;
       
      }
      .main-footer{
        position: relative;
      }
      .main-footer ul{
        flex-direction: column;
      
      }
      .main-footer ul li, .li-social-1{
       display: flex;
       width: 90%;
       padding-left: 50px;
      }
     
      
}
@media only screen and  (max-width: 900px){
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
    .main-book{
        width: 100%;
        margin: 0;
    }
    .flip-book{
        perspective: 1500px;
        box-shadow: 8px 4px 34px 5px #222222a2;
    }
   
  }
@media only screen and (max-width: 768px){
   
   
    nav{
      background: transparent;
      width: 90%;
    }
    #banner{
      background: linear-gradient(90deg, rgba(246,249,111,0.5) 0%, rgba(2, 14, 85, 0.526) 40%, rgba(198, 36, 144, 0.534) 100%),
      url(./banner-bg-2.jpg);
      background-size: cover;
      background-position: center;
    }
    .title h1{
      width: 100%;
      height: 50%;
      font-size: 120px;
      
    }
    .title p{
      width: 100%;
    }
    .main-musicplayer{
      display: flex;
      align-items: center;
    }
    
  .wrapper{
    width: 90%;
    margin-left: 15px;
  }
  .tracks{
      height: 350px;
      width: 95%;
      margin-left: 0;
  }
  .music-list{
      height: 100%;
      background: linear-gradient(186deg, rgba(198,36,143,0.5214460784313726) 53%, rgba(246,249,111,0.5) 99%)
    ,url(./mplayerbg.jpeg);
  }
    .main-book{display: none;}
    .main-about{display: block;
        background: linear-gradient(90deg, rgba(247, 249, 111, 0.35)0%, rgba(2, 14, 85, 0.53) 40%, rgba(198, 36, 144, 0.569)100%), url(./bio-left-img.jpeg) no-repeat center;
        background-size: cover;
        padding: 10px;
        margin-top: 15px;
        box-shadow: inset -3px -3px 7px rgb(232, 125, 246), 3px 3px 5px rgba(48, 8, 1, 0.945);
    }
    .first-bio-title{
      font-family: var(--madimi);
    }
    
    .concert-details{
        padding: 5px;
    }
    .c-desc {
        display: flex;
       flex-direction: column;
       justify-content: center;
        align-items: center;
    }
    .c-desc p{
        width: 95%;
    }
    .adresse{
      
        width: 70%;
        
    }
   
    .services-content{
        flex-direction: column;
    }
    .form{
        height: 350px;
        width: 270px;
    }
    .services{
       display: none;
    }/*
    .videos-container{
      flex-direction: column;
    }
   .main-video{
    width: 100%;
    height: 250px;
   }
   .main-video video{
     width: 100%;
    height: 200px;
   }
   .video-list{
    width: 100%;
   }*/
   .gallery {
    width: 100%;
   }
   .cover-gallery{
    width: 90%;
   }
   .gallery-image{
    width: 90px;
    height: 90px;
   }
    footer{
        width: 86vw;
        text-align: center;
        position: relative;
        background-repeat: no-repeat;
        background-position: bottom;
      }
      .content .top .logo-details{
        font-size: 26px;
      }
      .content .top .media-icons a{
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
      }
      footer .content .link-boxes .box{
        width: calc(100% / 3 - 10px);
      }
      footer .content .link-boxes .input-box{
        width: 60%;
      }
      .bottom-details .bottom_text span,
      .bottom-details .bottom_text a{
        font-size: 12px;
      }
}
@media only screen and (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }


   